<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Contactos</h1>
    <p>Esta es una aplicacion de ejemplo implementada en el framework Django 1.9 como parte del estudio de varios frameworks de desarrollo web.</p>
    <p>La aplicacion es un gestor de usuarios y de datos de contactos.</p>
    <p>
        <!-- <a class="btn btn-lg btn-default" href="/register" role="button">Registrarse</a> -->
        <a class="btn btn-lg btn-primary" href="/login" role="button">Acceder &raquo;</a>
    </p>
  </div>

</div> <!-- /container -->
